## Loc, iloc and []
Pandas supports three types of multi-axis indexing for object selection.
- **loc** is a method for label based indexing.
- **iloc** is a method for integer position indexing.
- **[colnamn]** returns the columnas a pandas *Series* object.

**Important note:** When slicing, the upper bound is ***included* for loc**, while ***excluded* for iloc**

In [1]:
import pandas as pd

In [11]:
column_values = [f"Column {i}" for i in range(1, 5)]
index_values = [chr(i) for i in range(65, 72)]

print(column_values)
print(index_values)
print()

df = pd.DataFrame([[f"{ind}{col}" for col in range(1, 5)] for ind in index_values],
                  index=index_values, columns=column_values)

df

['Column 1', 'Column 2', 'Column 3', 'Column 4']
['A', 'B', 'C', 'D', 'E', 'F', 'G']

  Column 1 Column 2 Column 3 Column 4
A       A1       A2       A3       A4
B       B1       B2       B3       B4
C       C1       C2       C3       C4
D       D1       D2       D3       D4
E       E1       E2       E3       E4
F       F1       F2       F3       F4
G       G1       G2       G3       G4

In [71]:
# INTEGER LOCATION
# Using no slices, returns the value of a single cell
df.iloc[1, 0]       # row-index 1 and column-index 0 produces 

print(f"df.iloc[1, 0] = \n{df.iloc[1, 0]}") 
print()
# Using slice on one axis returns a pandas Series object
print(f"df.iloc[1, :] = \n{df.iloc[1, :]}") # Full row 1 ("B")
print()

print(f"df.iloc[:, 0] = \n{df.iloc[:, 0]}") # Full column 0 ("Column 1")
print()

print(f"df.iloc[:3, 1] = \n{df.iloc[:3, 1]}") # First 3 cells of column 1 ("Column 2") chosen index 1 has name Column 2

# Using slice on both axis returns a pandas DataFrame object
df.iloc[:2, :2] # Returns the four cells in the upper left corner
df.iloc[2:6, 1:3] # returns rows C-F, and col 2 & 3
df.iloc[:, :] # returns a copy of DataFrame
# underförstått om man tar [:] att den tar alla rader och därmed automatiskt alla kolumner

# Lists can be used instead of slices for either axis
df.iloc[[0, 3, 5], [1, 3]]

df.iloc[1, 0] =
B1

df.iloc[1, :] =
Column 1    B1
Column 2    B2
Column 3    B3
Column 4    B4
Name: B, dtype: object

df.iloc[:, 0] =
A    A1
B    B1
C    C1
D    D1
E    E1
F    F1
G    G1
Name: Column 1, dtype: object

df.iloc[:3, 1] =
A    A2
B    B2
C    C2
Name: Column 2, dtype: object

  Column 2 Column 4
A       A2       A4
D       D2       D4
F       F2       F4

In [72]:
# Using no slices, returns the value of a single cell
df.loc["B", "Column 1"]  # row-index "B" and column-index "Column 1"

print(f"df.loc['B', 'Column 1'] = \n{df.loc['B', 'Column 1']}") 
print()
# 
print(f"df.loc['B'] = \n{df.loc['B']}") # Full row 1 ("B")
print()

print(f"df.loc[:, 'Column 1'] = \n{df.loc[:, 'Column 1']}") # Full column 0 ("Column 1")
print()

print(f"df.loc[:'C', 'Column 2'] = \n{df.loc[:'C', 'Column 2']}") # First 3 cells of column 1 ("Column 2") chosen index 1 has name Column 2

# Using slice on both axis returns a pandas DataFrame object
df.loc[:"B", :"Column 2"] # Returns the four cells in the upper left corner
df.loc["C":"F", "Column 2":"Column 3"] # returns rows C-F, and col 2 & 3
df.loc[:, :] # returns a copy of DataFrame
# underförstått om man tar [:] att den tar alla rader och därmed automatiskt alla kolumner

# Lists can be used instead of slices for either axis
df.loc[["A", "D", "F"], ["Column 2", "Column 4"]]

df.loc['B', 'Column 1'] =
B1

df.loc['B'] =
Column 1    B1
Column 2    B2
Column 3    B3
Column 4    B4
Name: B, dtype: object

df.loc[:, 'Column 1'] =
A    A1
B    B1
C    C1
D    D1
E    E1
F    F1
G    G1
Name: Column 1, dtype: object

df.loc[:'C', 'Column 2'] =
A    A2
B    B2
C    C2
Name: Column 2, dtype: object

  Column 2 Column 4
A       A2       A4
D       D2       D4
F       F2       F4

In [81]:
# df[colname] returns a column as a pandas Series object
df["Column 2"]

# df[[list of colnames]] returns a new dataframe with the given columns
df[["Column 1", "Column 4", "Column 3", "Column 1"]]

# series[index] returns a scalar value
df["Column 2"]["D"]

# Indexing a dataframe with a list (of columns) returns a dataframe, 
# so indexing again would be on the new dataframe (but this should not be done).
df[["Column 1", "Column 4", "Column 3", "Column 1"]]["Column 3"]

A    A3
B    B3
C    C3
D    D3
E    E3
F    F3
G    G3
Name: Column 3, dtype: object