In [2]:
import numpy as np
import pandas as pd

## Aggregation

Data aggregation is the process where raw data is gathered and expressed in a summary form for statistical analysis.

For example, raw data can be aggregated over a given time period to provide statistics such as average, minimum, maximum, sum, and count. After the data is aggregated and written to a view or report, you can analyze the aggregated data to gain insights about particular resources or resource groups.

### Built-in aggregation methods in Pandas
An aggregation method a Series of values and returns a single value.

In [3]:
numbers = pd.Series(np.random.randint(low=1, high=100, size=5))
numbers[3] = np.NaN
numbers

0     6.0
1    15.0
2     8.0
3     NaN
4    86.0
dtype: float64

In [4]:
# Some of Pandas aggregation methods are:
print(f"{numbers.min() = }")
print(f"{numbers.max() = }")
print(f"{numbers.mean() = }")
print(f"{numbers.median() = }")
print(f"{numbers.sum() = }")
print(f"{numbers.count() = }") # totala antalet värden
print(f"{numbers.sum() / numbers.count() = } dvs. mean")
print(f"{numbers.mode()[0] = }")
print(f"{numbers.size = }") # totala antalet rader

numbers.min() = 6.0
numbers.max() = 86.0
numbers.mean() = 28.75
numbers.median() = 11.5
numbers.sum() = 115.0
numbers.count() = 4
numbers.sum() / numbers.count() = 28.75 dvs. mean
numbers.mode()[0] = 6.0
numbers.size = 5

### 
When run on a dataframe (multiple Series) they return a single value for each Series, forming a new Series.

In [5]:
numbers_df = pd.DataFrame(np.random.randint(low=1, high=100, size=[5, 5]), columns=["A", "B", "C", "D", "E"])
numbers_df.loc[[0, 3], ["A", "D"]]= np.NaN
numbers_df

      A   B   C     D   E
0   NaN  91  14   NaN  93
1  36.0  54  64  10.0  88
2  40.0  81  34  54.0   2
3   NaN  75  58   NaN   7
4  44.0  64  30  25.0   9

In [6]:
numbers_df.min() # returnerar minsta värdet baserat på vald axis "index"(default) eller "columns"
numbers_df.min(axis="columns") 
numbers_df.min(axis="columns").min() # minsta värdet i hela serien
numbers_df.median(axis="index").median()
numbers_df.median(axis="columns").median()

54.0

In [7]:
# Count null values in each column
numbers_df.isna().sum()# kolla om det finns NaN värden, detect missing values
numbers_df.isna().sum(axis="columns")

0    2
1    0
2    0
3    2
4    0
dtype: int64

### Working with real data

In [8]:
autos = pd.read_json("../Data/autos.json")
autos.tail(3)

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
202,std,sedan,3.58,18,8.8,3012,rwd,front,173,ohcv,...,volvo,95.0,six,four,5500.0,21485.0,2.87,-1,109.1,68.9
203,turbo,sedan,3.01,26,23.0,3217,rwd,front,145,ohc,...,volvo,95.0,six,four,4800.0,22470.0,3.40,-1,109.1,68.9
204,turbo,sedan,3.78,19,9.5,3062,rwd,front,141,ohc,...,volvo,95.0,four,four,5400.0,22625.0,3.15,-1,109.1,68.9

In [9]:
autos["price"].mean()

13207.129353233831

In [10]:
autos[["length", "width", "height"]].head(3)

   length  width  height
0   168.8   64.1    48.8
1   168.8   64.1    48.8
2   171.2   65.5    52.4

In [11]:
# Running mean() on multiple columns (Dataframe) returns a Series of means.
autos[["length", "width", "height"]].head(3).mean()
autos[["length", "width", "height"]].mean()

autos[autos["make"] == "volvo"][["length", "width", "height"]].mean()
autos.query("make == 'volvo'")[["length", "width", "height"]].mean()

length    188.800000
width      67.963636
height     56.236364
dtype: float64

In [12]:
{col: autos[col].dtype for col in autos.columns if autos[col].dtype in ["int64", "float64"]} # dictionary comprehension

{'bore': dtype('float64'),
 'city-mpg': dtype('int64'),
 'compression-ratio': dtype('float64'),
 'curb-weight': dtype('int64'),
 'engine-size': dtype('int64'),
 'height': dtype('float64'),
 'highway-mpg': dtype('int64'),
 'horsepower': dtype('float64'),
 'length': dtype('float64'),
 'normalized-losses': dtype('float64'),
 'peak-rpm': dtype('float64'),
 'price': dtype('float64'),
 'stroke': dtype('float64'),
 'symboling': dtype('int64'),
 'wheel-base': dtype('float64'),
 'width': dtype('float64')}

### Multiple aggregation

In [13]:
autos[["length", "width", "height"]].agg(["min", "mean", "max"])
# autos.info()
[col for col in autos.columns if autos[col].dtype in ["int64", "float64"]] # list comprehension

['bore',
 'city-mpg',
 'compression-ratio',
 'curb-weight',
 'engine-size',
 'height',
 'highway-mpg',
 'horsepower',
 'length',
 'normalized-losses',
 'peak-rpm',
 'price',
 'stroke',
 'symboling',
 'wheel-base',
 'width']

In [14]:
autos[[col for col in autos.columns if autos[col].dtype in ["int64", "float64"]]].agg(["min", "mean", "max"])

,bore,city-mpg,compression-ratio,curb-weight,engine-size,height,highway-mpg,horsepower,length,normalized-losses,peak-rpm,price,stroke,symboling,wheel-base,width
min,2.540000,13.000000,7.000000,1488.000000,61.000000,47.800000,16.00000,48.000000,141.100000,65.0,4150.000000,5118.000000,2.070000,-2.000000,86.600000,60.300000
mean,3.329751,25.219512,10.142537,2555.565854,126.907317,53.724878,30.75122,104.256158,174.049268,122.0,5125.369458,13207.129353,3.255423,0.834146,98.756585,65.907805
max,3.940000,49.000000,23.000000,4066.000000,326.000000,59.800000,54.00000,288.000000,208.100000,256.0,6600.000000,45400.000000,4.170000,3.000000,120.900000,72.300000

In [15]:
autos.describe()

,bore,city-mpg,compression-ratio,curb-weight,engine-size,height,highway-mpg,horsepower,length,normalized-losses,peak-rpm,price,stroke,symboling,wheel-base,width
count,201.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,203.000000,205.000000,164.000000,203.000000,201.000000,201.000000,205.000000,205.000000,205.000000
mean,3.329751,25.219512,10.142537,2555.565854,126.907317,53.724878,30.751220,104.256158,174.049268,122.000000,5125.369458,13207.129353,3.255423,0.834146,98.756585,65.907805
std,0.273539,6.542142,3.972040,520.680204,41.642693,2.443522,6.886443,39.714369,12.337289,35.442168,479.334560,7947.066342,0.316717,1.245307,6.021776,2.145204
min,2.540000,13.000000,7.000000,1488.000000,61.000000,47.800000,16.000000,48.000000,141.100000,65.000000,4150.000000,5118.000000,2.070000,-2.000000,86.600000,60.300000
25%,3.150000,19.000000,8.600000,2145.000000,97.000000,52.000000,25.000000,70.000000,166.300000,94.000000,4800.000000,7775.000000,3.110000,0.000000,94.500000,64.100000
50%,3.310000,24.000000,9.000000,2414.000000,120.000000,54.100000,30.000000,95.000000,173.200000,115.000000,5200.000000,10295.000000,3.290000,1.000000,97.000000,65.500000
75%,3.590000,30.000000,9.400000,2935.000000,141.000000,55.500000,34.000000,116.000000,183.100000,150.000000,5500.000000,16500.000000,3.410000,2.000000,102.400000,66.900000
max,3.940000,49.000000,23.000000,4066.000000,326.000000,59.800000,54.000000,288.000000,208.100000,256.000000,6600.000000,45400.000000,4.170000,3.000000,120.900000,72.300000

### Split-Apply-Combine
- Select a feature to use as key
- Split the dataset into groups for each unique key-value
- Apply aggregation to each group
- Combine aggregated data into a new dataset

![image](https://nicholasvadivelu.com/assets/images/posts/groupby/split-apply-combine.svg#center)

### Group by
Use Pandas .groupby() method to selct a key and split into groups.

This creates a new DataFrameGroupBy object containing the goruped DataFrames.

In [16]:
makes = autos.groupby("make")

In [17]:
type(makes)

pandas.core.groupby.generic.DataFrameGroupBy

In [21]:
#autos["make"].unique()
#autos["make"].nunique()
#autos["make"].value_counts()
len(makes)

22

In [23]:
makes.groups
autos.loc[makes.groups["jaguar"]]   # - __ -
makes.get_group("jaguar")           # dessa två gör samma sak

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
47,std,sedan,3.63,15,8.1,4066,rwd,front,258,dohc,...,jaguar,145.0,six,four,4750.0,32250.0,4.17,0,113.0,69.6
48,std,sedan,3.63,15,8.1,4066,rwd,front,258,dohc,...,jaguar,NaN,six,four,4750.0,35550.0,4.17,0,113.0,69.6
49,std,sedan,3.54,13,11.5,3950,rwd,front,326,ohcv,...,jaguar,NaN,twelve,two,5000.0,36000.0,2.76,0,102.0,70.6