In [15]:
from dash import Dash, html, dcc, callback, Output, Input
import plotly_express as px
import pandas as pd

In [50]:
df = px.data.gapminder()


app = Dash(__name__)

#  <div>
#       <h1>My dash applications.<h/1>
#       <h2>More info ...<h/2>
#  </div>

# my_H1 = html.H1(id="my_H1",children="My dash applications.", style={"font-family": "arial black"}) 
# my_H2 = html.H2(id="my_H2",children="More info ...")
# my_dropdown = dcc.Dropdown(id="my_dropdown",options=df["year"].unique(), value=2007, style={"width": "100px"})
# my_graph = dcc.Graph(id="my_graph",figure={})
# my_button = html.Button("Click here!", n_clicks=0)

# app.layout = html.Div(children=[my_H1, my_H2, my_dropdown, my_graph, my_button])

# Två olika sätt att koda det på Ovan och Nedan

app.layout = html.Div([
    html.H1(id="my_H1", children="My awesome dash application."),
    html.H2(id="my_H2", children="More info ..."),
    dcc.Dropdown(id="my_dropdown", options=df["year"].unique(), value=2007, style={"width": "100px"}),
    dcc.Graph(id="my_graph", figure={}),
    html.Button(id="my_button", children="Click here!", n_clicks=0)

])


@callback(
    Output("my_H2", 'children'),
    Output("my_graph", 'figure'),
    Input("my_dropdown", 'value') 
)
def select_year(year):
    text = f"Life expectancy for {year}:"
    print(text)
    figure = px.strip(df.query("year==@year"), x="lifeExp", color="continent")
    return text, figure

@callback(
    Output("my_H1", "children"),
    Input("my_button", "n_clicks")
)
def button_clicked(n):
    #return f"Button clicked {n} times."
    return f"Welcome to my {'Awesome' if n % 2 == 0 else 'Cool'} Dash Application!"


                               # default port=8050 om man inte sätter till något annat själv
app.run(debug=True, jupyter_mode="external") # jupyter_mode="external" så kan man öppna den externt precis som i L018 exemplet

Dash app running on http://127.0.0.1:8050/

Life expectancy for 2007:

In [34]:
df.head()
#df["year"].unique()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4